<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>lacrimae aseeminis</title>

        <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <style>
            .aseem{margin:0 auto}.aseem>div{position:relative;padding-bottom:51%;height:0}
            .aseem iframe{position:absolute;top:0;left:0;width:100%;height:100%}
        </style>
    </head>
    <body>
        <div class="aseem"><div>
            <iframe
                src="https://www.youtube-nocookie.com/embed/Dh4mBcCLkh0?rel=0&amp;controls=0&autoplay=1&autohide=1&modestbranding=1&showinfo=0" 
                frameborder="0" allowfullscreen>
            </iframe>
        </div></div>
    </body>
</html>
